# cribl-control-plane SDK Environment Variables

# Copy this file to .env and replace placeholder values with your credentials
# DO NOT commit the .env file to version control

# Uncomment to run generic examples against an on-prem Cribl instance
# DEPLOYMENT_ENV=onprem

# Cribl.Cloud configuration environment variables
# Use only when running example against a Cribl.Cloud instance
# To get your CLIENT_ID and CLIENT_SECRET values, follow the steps at https://docs.cribl.io/api/#criblcloud
CLIENT_ID=your-client-id
CLIENT_SECRET=your-client-secret
WORKSPACE_NAME=your-workspace-name
ORG_ID=your-org-id

# On-prem configuration environment variables
# Use only when running example against on-prem instance
# Some examples require an Enterprise license
ONPREM_SERVER_URL=http://localhost:9000
ONPREM_USERNAME=admin
ONPREM_PASSWORD=admin
